<div>
    <ng-sidebar-container>
        <ng-sidebar [opened]="opened">
            <p>
                Sidebar
            </p>
            <ul class="menu">
                <li><a routerLink="/">Dashboard</a></li>
                <li><a routerLink="/post">Post</a></li>
                <li><a routerLink="/contact">Contact</a></li>
                <button (click)="toggleSidebar()">Close Sidebar</button>

            </ul>
        </ng-sidebar>
        <div ng-sidebar-content>
            <button (click)="toggleSidebar()">
                Casandra
            </button>
        </div>
    </ng-sidebar-container>
</div>