<section class="ae-container-fluid rk-main">
    <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
        <div class="au-xs-ta-center au-lg-ta-left">
            <ul class="rk-menu rk-categories-menu">
                <li class="rk-menu__item"><a href="portfolio.html" class="rk-menu__link">Flex</a>
                </li>
                <li class="rk-menu__item"><a href="portfolio-alt.html" class="rk-menu__link">Switch</a>
                </li>
                <li class="rk-menu__item"><a href="portfolio-raw.html" class="rk-menu__link">Static</a>
                </li>
                <li class="active rk-menu__item"><a href="portfolio-masonry.html" class="rk-menu__link">Masonry</a>
                </li>
            </ul>
        </div>
        <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">

            <a href="portfolio-item.html" class="rk-item ae-masonry__item">
                <img src="assets/img/gato1.jpg" alt="">
                <div class="item-meta">
                    <h2>Gato</h2>
                    <p>Tambien conocido como minino, es un mamifero carnivoro de la familia Felidae</p>
                </div>
            </a>
            <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/skull.jpg" alt="">
                <div class="item-meta">
                    <h2>Skullcandy Crushers</h2>
                    <p>Versión sin cables de los primeros audífonos en su tipo</p>
                </div>
            </a>
            <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/res.jpg" alt="">
                <div class="item-meta">
                    <h2>T-Bone Steak</h2>
                    <p>Generalmente elaborado a la parrilla</p>
                </div>
            </a>
            <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-4.jpg" alt="">
                <div class="item-meta">
                    <h2>Cafe</h2>
                    <p>Altamente estimultante por su contenido de cafeína</p>
                </div>
            </a>
            <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/guitarra1.jpg" alt="">
                <div class="item-meta">
                    <h2>Guitarra Eléctrica</h2>
                    <p>Instrumento musical de 6 cuerdas, usa el principio de inducción electromagnética</p>
                </div>
            </a>
            <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/basquet1.jpg" alt="">
                <div class="item-meta">
                    <h2>Basquetbol</h2>
                    <p>Jugado en conjuntos de 5</p>
                </div>
            </a>
            <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/nspikachu1.jpg" alt="">
                <div class="item-meta">
                    <h2>Nintendo Switch</h2>
                    <p>Versión con bases temática Pikachu e Eevee y juegos de controladores Joy-Con</p>
                </div>
            </a>
            <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/jenga1.jpg" alt="">
                <div class="item-meta">
                    <h2>Jenga</h2>
                    <p>Confia en tu pulso y equilibrio y atrévete a sacar los bloques</p>
                </div>
            </a>
            <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/chocolate1.jpg" alt="">
                <div class="item-meta">
                    <h2>Chocolate</h2>
                    <p>Dependiendo de la cantidad de cacao, manteca de cacao, leche y azúcar se obtienen diferentes
                        clases de chocolate</p>
                </div>
            </a>
            <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/porshe1.jpg" alt="">
                <div class="item-meta">
                    <h2>Patines Blazer</h2>
                    <p>El patin en línea o mas conocido como roller se caracteriza por tener 2, 3 o 4 ruedas en fila</p>
                </div>
            </a>

        </div>
    </section>
</section>