<app-header></app-header>

<br>
<br>
<br>
<br>
<br>
<br>

<section class="ae-container-fluid rk-main">
    <!--<app-portafolio></app-portafolio>-->

    <!--<app-about>

    </app-about>
    <ng-sidebar-container>
        <ng-sidebar [opened]="opened">
            <p>
                Sidebar
            </p>
            <ul class="menu">
                <li><a routerLink="/">Dashboard</a></li>
                <li><a routerLink="/post">Post</a></li>
                <li><a routerLink="/contact">Contact</a></li>
                <button (click)="toggleSidebar()">Close Sidebar</button>

            </ul>
        </ng-sidebar>
        <div ng-sidebar-content>
            <button (click)="toggleSidebar()">
                Casandra
            </button>
        </div>
    </ng-sidebar-container>-->

    <!--<app-barra></app-barra>-->
    <!--<app-about></app-about>-->
    <router-outlet></router-outlet>
    <!--<app-luispictures></app-luispictures>-->
</section>
<!--<br>
<br>
<br>
<br>
<br>
<br>
<h1>Hola Mundo!!</h1>-->


<app-footer></app-footer>