<section class="ae-container-fluid rk-main">
    <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
        <div class="au-xs-ta-center au-lg-ta-left">
            <ul class="rk-menu rk-categories-menu">
                <li class="rk-menu__item"><a href="portfolio.html" class="rk-menu__link">Flex</a>
                </li>
                <li class="rk-menu__item"><a href="portfolio-alt.html" class="rk-menu__link">Switch</a>
                </li>
                <li class="rk-menu__item"><a href="portfolio-raw.html" class="rk-menu__link">Static</a>
                </li>
                <li class="active rk-menu__item"><a href="portfolio-masonry.html" class="rk-menu__link">Masonry</a>
                </li>
            </ul>
        </div>
        <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">

            <a href="portfolio-item.html" class="rk-item ae-masonry__item">
                <img src="assets/img/gato1.jpg" alt="">
                <div class="item-meta">
                    <h2>Gato</h2>
                    <p>Tambien conocido como minino, es un mamifero carnivoro de la familia Felidae</p>
                </div>
            </a>
            <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/skull.jpg" alt="">
                <div class="item-meta">
                    <h2>Skullcandy Crushers</h2>
                    <p>Versión sin cables de los primeros audífonos en su tipo</p>
                </div>
            </a>
            <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/res.jpg" alt="">
                <div class="item-meta">
                    <h2>T-Bone Steak</h2>
                    <p>Generalmente elaborado a la parrilla</p>
                </div>
            </a>
            <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/monster1.jpg" alt="">
                <div class="item-meta">
                    <h2>Monster Energy</h2>
                    <p>Bebida energizante lanzada en el 2002</p>
                </div>
            </a>
            <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/violin1.jpg" alt="">
                <div class="item-meta">
                    <h2>Violin</h2>
                    <p>Violin acústico en medida 4/4 con reposa barbilla instalado</p>
                </div>
            </a>
            <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/basquet1.jpg" alt="">
                <div class="item-meta">
                    <h2>Basquetbol</h2>
                    <p>Jugado en conjuntos de 5</p>
                </div>
            </a>
            <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/ps5.jpg" alt="">
                <div class="item-meta">
                    <h2>Play Station 5</h2>
                    <p>Lanzamiento: 12 de Noviembre del 2020</p>
                </div>
            </a>
            <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/jenga1.jpg" alt="">
                <div class="item-meta">
                    <h2>Jenga</h2>
                    <p>Confia en tu pulso y equilibrio y atrévete a sacar los bloques</p>
                </div>
            </a>
            <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/chocolate1.jpg" alt="">
                <div class="item-meta">
                    <h2>Chocolate</h2>
                    <p>Dependiendo de la cantidad de cacao, manteca de cacao, leche y azúcar se obtienen diferentes
                        clases de chocolate</p>
                </div>
            </a>
            <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/hdmotor1.jpg" alt="">
                <div class="item-meta">
                    <h2>Softail Standar</h2>
                    <p>Estilo bobber, despojado y austero</p>
                </div>
            </a>

        </div>
    </section>
</section>